<p id="notice"><%= notice %></p>

<h1>Res</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Apartmentnum</th>
      <th>Phonenumber</th>
      <th>Owner</th>
      <th>Password</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @res.each do |res| %>
      <tr>
        <td><%= re.email %></td>
        <td><%= re.name %></td>
        <td><%= re.apartmentnum %></td>
        <td><%= re.phonenumber %></td>
        <td><%= re.owner %></td>
        <td><%= re.password %></td>
        <td><%= re.picture %></td>
        <td><%= link_to 'Show', re %></td>
        <td><%= link_to 'Edit', edit_re_path(re) %></td>
        <td><%= link_to 'Destroy', re, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Re', new_re_path %>
