

<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @car.cartype %>
</p>

<p>
  <strong>Plat Number:</strong>
  <%= @car.platnum %>
</p>

<p>
  <strong>Apartment Number:</strong>
 
  <%= link_to @car.apartment&.NumberApartment, info_path(params[:id]) %>

 
  
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
