<p id="notice"><%= notice %></p>

<h1>Apartments</h1>
<table class = "table table-striped table-bordered table-hover">
  <thead class ="thead-dark">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Parkingnumber</th>
      <th>Hpnumber</th>
      <th>Numberapartment</th>
      <th>Level</th>
      <th>Apartmenttype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.Name %></td>
        <td><%= apartment.Age %></td>
        <td><%= apartment.ParkingNumber %></td>
        <td><%= apartment.HpNumber %></td>
        <td><%= apartment.NumberApartment %></td>
        <td><%= apartment.Level %></td>
        <td><%= apartment.ApartmentType %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment', new_apartment_path %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Back', pages_main_path %>
