<% if @info.id %>
<% path= info_path(@info) %>
<% else %>
<% path= infos_path %>
<%end%>

<%= simple_form_for @info, url:path do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :fullname %>
    <%= f.input :aptnums %>
    <%= f.input :phonenum %>
    <%= f.input :owner %>
    <%= f.input :password %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
