<p id="notice"><%= notice %></p>




<p>
  <strong>Email:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @info.fullname %>
</p>

<p>
  <strong>Apartmentnum:</strong>
  <%= @info.aptnums %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @info.phonenum %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @info.owner %>
</p>




<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
