<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @info.name %>
</p>

<p>
  <strong>Apartmentnum:</strong>
  <%= @info.apartmentnum %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @info.phonenumber %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @info.owner %>
</p>

<p>
  <strong>Password:</strong>
  <%= @info.password %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @info.picture %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
